
.nx/installation
.nx/cache
.nx/workspace-data
.angular
**/.env

.env
**/.env
# apps/frontend/src/environments/environments.ts
# apps/frontend/src/environments/*.ts

client_secret_*.json

node_modules/
dist/
.nx/
.angular/
.vscode/