.card {
  background-color: inherit !important;
  color: #fff;
  border: none;
  margin-top: -15em;
}
.form-control {
  background-color: inherit !important;
  color: #fff !important;
  border-color: #989898;
}
input::placeholder {
  color: #fff;
}
.card-footer {
  border-top: none !important;
}
.bttn {
  color: inherit !important;
}
.bttn:hover {
  color: #686262 !important;
  transition-duration: 0.3s;
}
